/* Light Theme */
.theme-light {
  --scrollbar-bg: #ddc7c7;
  --scrollbar-thumb: #c5acac;
  --scrollbar-thumb-hover: #978a8a;
}

/* Dark Theme */
.theme-dark {
  --scrollbar-bg: #3d3939;
  --scrollbar-thumb: rgba(255, 255, 255, 0.1);
  --scrollbar-thumb-hover: #8a8787;
}

/* Violet Theme */
.theme-violet {
  --scrollbar-bg: #fff;
  --scrollbar-thumb: #b8bcfd;
  --scrollbar-thumb-hover: #7b1fa2;
}
