/* Light Theme */
.theme-light {
  --scrollbar-bg: #fff;
  --scrollbar-thumb: #e8e8e8;
  --scrollbar-thumb-hover: #b0b0b0;
}

/* Dark Theme */
.theme-dark {
  --scrollbar-bg: #161616;
  --scrollbar-thumb: rgba(255, 255, 255, 0.1);
  --scrollbar-thumb-hover: #8a8787;
}

/* Violet Theme */
.theme-violet {
  --scrollbar-bg: #fff;
  --scrollbar-thumb: #b8bcfd;
  --scrollbar-thumb-hover: #7b1fa2;
}
