:root {
  --brand-color: #fc842d;
  --form-background: rgba(255, 255, 255, 0.1);
  --transparency-60: hsla(0, 0%, 100%, 0.6);
  --gray-text-color: #9b9faa;
  --Gray-5: #e0e0e0;
  --black-text-color: #212121;
}
