.input-add {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .textarea-add {
    height: 150px;
    resize: none;
  }

  .custom-inputAdd{
    padding: 14px 18px 14px 239px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid rgba(190, 219, 176, 0.50);
    box-sizing: border-box;
    opacity: 0.8;
    transition: all 0.3s ease;
    margin-top: 24px;
    color: white;
    width: 100%;
  }
  .custom-input-description {
        width: 302px;
        height: 154px;
        align-items: center;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid rgba(190, 219, 176, 0.50);
        opacity: 0.4;
        background: #151515;
        box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
        padding: 18px;
        font-size: 16px;
        box-sizing: border-box;
        opacity: 0.8;
        transition: all 0.3s ease;
        margin-top: 14px;
        color: white;
        width: 100%;
  }
 

