/* Stil pentru containerul inputului */
.inputContainer {
  display: flex;
  flex-direction: column;
}

/* Stiluri pentru inputul de tip text */
.input {
  align-items: center;
  background: transparent;
  border: 1px solid #bedbb0;
  opacity: 0.4;
  border-radius: 8px;
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  padding: 14px;
  padding-left: 18px;

  opacity: 0.8;
  transition: all 0.3s ease;
  width: 100%;
}

.input:focus {
  outline: 1px solid #bedbb0;
}

.light::placeholder,
.violetBorder::placeholder {
  color: #161616;
}

.darkColor::placeholder {
  color: #ffffff;
}

/* Stiluri pentru inputul de tip comentarii (textarea) */
.commentInput {
  height: 120px;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
}

.violetBorder:focus {
  outline: 1px solid #5255bc;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
}

.darkColor {
  color: #ffffff;
}

.darkColor + .input::placeholder {
  color: white;
}

.normalColor {
  color: #161616;
}

/* Stiluri pentru input-ul centrat */
.inputCenter {
  text-align: center;
  margin: 0 auto;
}
