.mainCont {
  display: flex;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  flex-shrink: 1;
}

.cont {
  display: flex;
  flex-direction: column;
  gap: 39px;
  height: 100%;
  overflow-x: auto;
  padding: 20px;
  padding-bottom: 24px;
  width: -webkit-fill-available;
}

.upperCont {
  display: flex;
  justify-content: space-between;
}

.projectName {
  color: #161616;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.projectNameDark {
  color: #fff;
}

.backgroundLight {
  align-items: center;
  background: #fcfcfc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 4px 8px;
}

.backgroundDark {
  align-items: center;
  border-radius: 8px;
  background: #151515;
  display: flex;
  justify-content: center;
  padding: 4px 8px;
}

.downCont {
  display: flex;
  height: 100%;
  gap: 18px;
  overflow-x: auto;
  width: 100%;
  /* margin-bottom: 16px; */
}

.columnsCont {
  display: flex;
  gap: 18px;
  height: 100%;
}

.columnCont {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 100%;
  justify-content: space-between;
  width: fit-content;
}

.columnEditCont {
  align-items: center;
  background: #fff;
  border-radius: 8px;
  color: #161616;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  height: 56px;
  justify-content: space-between;
  line-height: normal;
  letter-spacing: -0.28px;
  padding: 18px 20px 17px;
  width: 334px;
}

.columnEditContDark {
  background: #121212;
  color: #fff;
}

.columnIconCont {
  display: flex;
  background: transparent;
  gap: 8px;
  justify-content: space-between;
}

.columnIcon {
  cursor: pointer;
  fill: transparent;
  stroke: #16161680;
  width: 16px;
  height: 16px;
  transition: all 0.3s ease-in-out;
}

.columnIcon:hover {
  scale: 1.1;
}

.columnIconLight {
  stroke: #ffffff80;
}

.tasksCont {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  overflow-y: auto;
  width: 100%;
}

.taskItem {
  font-size: 18px;
  font-weight: 500;
}

.btn {
  height: 56px;
  margin-bottom: 24px;
  width: -webkit-fill-available;
}

.addColumnBtn {
  align-items: center;
  background: #fcfcfc;
  border: none;
  border-radius: 8px;
  color: #161616;
  cursor: pointer;
  display: flex;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  flex-shrink: 0;
  gap: 8px;
  height: fit-content;
  justify-content: center;
  line-height: normal;
  letter-spacing: -0.28px;
  padding: 14px 0;
  width: 334px;
}

.addColumnBtnDark {
  background: #121212;
  color: #fff;
}

@media screen and (width >=768px) {
  .cont {
    gap: 26px;
    padding: 32px;
  }

  .btn {
    margin-bottom: 52px;
  }
}

@media screen and (width >=1024px) {
  .mainCont {
    width: calc(100vw - 260px);
  }

  .cont {
    gap: 10px;
    padding: 10px 24px 8px;
  }

  .btn {
    margin-bottom: 16px;
  }
}
