.cont {
  display: flex;
  flex-direction: column;
  gap: 39px;
  height: 100%;
  overflow-x: auto;
  padding: 20px;
  padding-bottom: 24px;
}

.upperCont {
  display: flex;
  justify-content: space-between;
}

.projectName {
  color: #161616;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.projectNameDark {
  color: #fff;
}

.backgroundLight {
  align-items: center;
  background: #fcfcfc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 4px 8px;
}

.backgroundDark {
  align-items: center;
  border-radius: 8px;
  background: #151515;
  display: flex;
  justify-content: center;
  padding: 4px 8px;
}

.downCont {
  display: flex;
  height: 100%;
  gap: 18px;
  overflow-x: auto;
  width: 100%;
}
.addColumnBtn {
  align-items: center;
  background: #fcfcfc;
  border: none;
  border-radius: 8px;
  color: #161616;
  cursor: pointer;
  display: flex;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 8px;
  height: fit-content;
  justify-content: center;
  line-height: normal;
  letter-spacing: -0.28px;
  padding: 14px 0;
  width: 334px;
}

.addColumnBtnDark {
  background: #121212;
  color: #fff;
}

.columnsCont {
  display: flex;
  gap: 18px;
  height: 100%;
  width: fit-content;
}

.columnCont {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  width: 334px;
}

@media screen and (width >=768px) {
  .cont {
    gap: 26px;
    padding: 32px;
  }
}

@media screen and (width >=1024px) {
  .cont {
    gap: 10px;
    padding: 10px 24px 8px;
  }
}
